<h3>Додавання географічного матеріалу</h3>
<div>
    <div class="col-xs-12 col-md-6" ng-init="getKey()">
        <h4>Виберіть потрібний регіон</h4>
        <div id="keyObj" class="treeview scroolTree" ></div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="input-group" style="padding-top: 40px">
            <input name='inputAddKeyName' class="form-control" type="text" ng-model="valueAddKey">
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="addKey()">Додати</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>