<h3>Переміщення ключового слова</h3>
<div ng-init="getKey1()">
    <div class="col-xs-12 col-md-5">
        <h4>Виберіть те що потрібно перемістить</h4>
        <div id="keyObj1" class="treeview scroolTree"></div>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1" ng-init="getKey2()">
        <h4>Виберіть куди вам потрібно перемістить</h4>
        <div id="keyObj2" class="treeview scroolTree"></div>
    </div>
    <div class="row" style="padding: 15px">
        <button class="btn btn-primary col-xs-12" ng-click="moveKey()">Перемістити</button>
    </div>
</div>